[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/PeepOpen-EditorSupport"]
	path = vim/bundle/PeepOpen-EditorSupport
	url = git://github.com/topfunky/PeepOpen-EditorSupport.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = git://github.com/sjl/badwolf.git
[submodule "vim/bundle/fish.vim"]
	path = vim/bundle/fish.vim
	url = git://github.com/vim-scripts/fish.vim.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/vitality.vim"]
	path = vim/bundle/vitality.vim
	url = git://github.com/sjl/vitality.vim.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
