{
  :applications {
    :activity_monitor ["com.apple.ActivityMonitor"]
    :chrome ["com.google.Chrome"]
    :firefox ["org.mozilla.firefox" "org.mozilla.firefoxdeveloperedition"]
    :mail ["com.apple.mail"]
    :microsoft_teams ["com.microsoft.teams"]
    :notion ["notion.id"]
    :safari ["com.apple.Safari"]
    :spotify ["com.apple.Safari"]
    :slack ["com.tinyspeck.slackmacgap"]
  }

 :main[
   {:des "Caps Lock to Escape and Control"
    :rules [
      [:##caps_lock :left_control nil {:alone :escape}] ; Caps to escape when tapped and control when held
   ]}
   {:des "Vim Mode"
    :rules [
      [:!OTh :!Oleft_arrow] ; Move one word left
      [:!OTl :!Oright_arrow] ; Move one word right
      [:!Oh :left_arrow] ; Move one character left
      [:!Oj :down_arrow] ; Move one line down
      [:!Ok :up_arrow] ; Move one line up
      [:!Ol :right_arrow] ; Move one character right
      [:!SOTh :!SOleft_arrow] ; Select one word left
      [:!SOTl :!SOright_arrow] ; Select one word right
      [:!SOh :!Sleft_arrow] ; Select one character left
      [:!SOj :!Sdown_arrow] ; Select one line down
      [:!SOk :!Sup_arrow] ; Select one line up
      [:!SOl :!Sright_arrow] ; Select one character right
  ]}
  {:des "Activity Monitor"
    :rules [:activity_monitor
      [:!Cf :!COf] ; Filter processes
  ]}
  {:des "Chrome"
    :rules [:chrome
      [:!CSc :!COc] ; Inspect element
      [:!Cbackslash :!Ox] ; 1Password
      [:!Csemicolon :!COj] ; Toggle developer tools
      [:!STbackslash :!Ox] ; 1Password
  ]}
  {:des "Firefox"
    :rules [:firefox
      [:!C1 :!COk] ; Console
      [:!C2 :!COc] ; Inspector
      [:!C3 :!COe] ; Network
      [:!C4 :!COz] ; Debugger
      [:!CSc :!COc] ; Inspector
      [:!CSn :!CSp] ; New private window
      [:!Cbackslash :!CSperiod] ; 1Password
      [:!Csemicolon :!COi] ; Toggle developer tools
      [:!STbackslash :!CSperiod] ; 1Password
  ]}
  {:des "Mail"
    :rules [:mail
      [:!Ce :!CTa] ; Archive message
      [:!Cf :!COf] ; Search
      [:!Cj :!CSj] ; Move message to junk
      [:!Cr :!CSr] ; Reply all
  ]}
  {:des "Microsoft Teams"
    :rules [:microsoft_teams
      [:!CSa :!CSm] ; Toggle Mute
  ]}
  {:des "Notion"
    :rules [:notion
      [:!CSt :!CO4] ; Turn into to-do
      [:!OTj :!CSdown_arrow] ; Move item one line down
      [:!OTk :!CSup_arrow] ; Move item one line up
      [:!Tg :!Cp] ; Search
  ]}
  {:des "Safari"
    :rules [:safari
      [:!CSr :!COr] ; Reload without cache
      [:!Csemicolon :!COi] ; Toggle developer tools
  ]}
  {:des "Spotify"
    :rules [:spotify
      [:!Cf :!Cl] ; Search
  ]}
  {:des "Slack"
    :rules [:slack
      [:!COk :!Cup_arrow] ; Edit previous message
      [:!CSTclose_bracket :!OSdown_arrow] ; Next channel with unreads
      [:!CSTopen_bracket :!OSup_arrow] ; Previous channel with unreads
      [:!CSclose_bracket :!Odown_arrow] ; Next channel
      [:!CSh :!CSOTh] ; Stop calling people
      [:!CSopen_bracket :!Oup_arrow] ; Previous channel
      [:!Td :page_down] ; Scroll page down
      [:!Tg :!Ck] ; Search
      [:!Tu :page_up] ; Scroll page up
  ]}
]}
