{
  :applications {
    :chrome ["com.google.Chrome"]
  }

 :main[
   {:des "Caps Lock to Escape and Control"
    :rules [
      [:##caps_lock :left_control nil {:alone :escape}] ; Caps as escape when tapped and control when held
   ]}
   {:des "Vim Mode"
    :rules [
      [:!OTh :!Oleft_arrow] ; Move one word left
      [:!OTl :!Oright_arrow] ; Move one word right
      [:!Oh :left_arrow] ; Move one character left
      [:!Oj :down_arrow] ; Move one line down
      [:!Ok :up_arrow] ; Move one line up
      [:!Ol :right_arrow] ; Move one character right
      [:!SOTh :!SOleft_arrow] ; Select one word left
      [:!SOTl :!SOright_arrow] ; Select one word right
      [:!SOh :!Sleft_arrow] ; Select one character left
      [:!SOj :!Sdown_arrow] ; Select one line down
      [:!SOk :!Sup_arrow] ; Select one line up
      [:!SOl :!Sright_arrow] ; Select one character right
  ]}
  {:des "Chrome"
    :rules [:chrome
      [:!STbackslash :!Ox] ; 1Password
      [:!Cbackslash :!Ox] ; 1Password
      [:!CSc :!COc] ; Inspect Element
      [:!Csemicolon :!COj] ; Toggle Console
  ]}
]}
